<h1>Find a Bus</h1>
<p>Give us your address or corner, and we'll let you know where the closest bus is located</p>
<h3>
  Chose a distance:
  1) 1/2 miles
  2) 1.2 miles
  3) 3 miles
  4) 60 miles
</h3>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
